*{
    color: #858585;
    font-family: IM FELL FRENCH CANON;
}
nav {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    position: sticky;
    top: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 15px 25px #606f60;
}
h1{
    font-size: 4rem;
    text-align: center;
}
#imgLogo{
    float: right;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}
#imgHome{
    float: left;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}
button{
    border-radius: 50%;
    float: left;
    border: none;
    background-color: black;
    cursor: pointer;
}